*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header style starts here  */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    width: 80%;
    margin: 0 auto;
}

.logo a{
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: black;
}

.navigation{
    display: flex;
    gap: 10px;
}

.banner-content{
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.left-content{
    background-image: url(../images/Group\ 14.png);
    background-position: 100%;
}

.right-content img{
    width: 32rem;
}

/* header style ends here  */

/* gamer style starts here  */

.gamer-content{
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.gamer-content-left img{
    width: 40rem;
}

/* gamer style ends here  */

/* online game style starts here  */

.online-game-content{
    width: 80%;
    margin: 0 auto;
}

.online-game-content h1{
    text-align: center;
}

.online-game-content  p{
    text-align: center;
}

.games-showcase{
    display: flex;
    gap: 20px;
}

.games-showcase .single-game img{
    width: 16rem;
}